@import "tailwindcss";

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 1px;
  background: #22d3ee; /* cyan */
  transition: width 0.25s ease;
  box-shadow: 0 0 6px rgba(34, 211, 238, 0.6);
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link-active::after {
  width: 100%;
}